<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wei.mark.example"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
      <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="wei.mark.example.MainActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="wei.mark.example.ClippyWindow" />
        
<!--         <service -->
<!--             android:name="wei.mark.example.NLService" -->
<!--             android:label="@string/app_name" -->
<!--             android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" > -->
<!--             <intent-filter> -->
<!--                 <action android:name="android.service.notification.NotificationListenerService" /> -->
<!--             </intent-filter> -->
<!--         </service> -->
        <service
            android:name="wei.mark.example.ContextService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name="wei.mark.example.MyAccessibilityService"
            android:enabled="true"
        android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
        class=".MyAccessibilityService"
            android:exported="true" >
            <intent-filter>
         <action android:name="android.accessibilityservice.AccessibilityService" />
     </intent-filter>
     <meta-data
            android:name="android.accessibilityservice"
            android:resource="@xml/accessibilityservice" />
        </service>
        <receiver android:name="wei.mark.example.BootBroadcastReceiver">  
    <intent-filter>  
        <action android:name="android.intent.action.BOOT_COMPLETED" />  
    </intent-filter>  
</receiver>
    </application>

</manifest>